---
layout: default
---

{% for post in paginator.posts %}
<article class="post">
  <h1><a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
  {% if post.thumbnail %}
  <a href="#"><img src="{{ site.baseurl }}/images/{{ post.thumbnail }}" alt="{{ post.title }}" class="post_thumbnail"></a>
  {% endif %}
  <div class="excerpt">
    {{ post.excerpt }}
  </div>
  <div class="clear"></div>
</article>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" class="button">&laquo; Trang truoc</a>
  {% endif %}
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="button">Trang sau &raquo;</a>
  {% endif %}
</div>
