---
layout: default
---

<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="index-list-post">
        {{ post.excerpt }}
      </div>

      <a class="button" href="{{ site.baseurl }}{{ post.url }}" class="read-more">Xem thêm</a>
    </article>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Trang trước</a>
  {% else %}
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Trang sau &raquo;</a>
  {% else %}
  {% endif %}
</div>
