/***************/
/* RESET CSS
/***************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
strong {font-weight: bold !important;}
.clear {clear: both; }
body {	line-height: 1; }
ol, ul { list-style: none; }
blockquote, q {	quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
html {
	font-size: 100%;
}
body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: : 18px
	color: #333;
}
h1 {
	font-size: 30px;
	font-weight: bold;
	color: #222;
	text-shadow: 0px 0px 1px rgba(0,0,0,0.3);
}
h1 a {
	color: inherit;
}
h1 a:hover {
	text-shadow: 0px 0px 1px rgba(44, 85, 255, 0.2);
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
	color: $gray;
}
a {
	color: #4183C4;
	text-decoration: none;
	cursor: pointer;
}
a:hover, a:active {
	color: #2c557b;
}
.container {
	max-width: 1000px;
	margin: 0px auto;
}
.button{
	display: inline-block;
	font-weight: 500;
	color: #1b1b1b;
	padding: 0 20px;
	border-radius: 18px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #bfbfbf;
}
#header-outer {
	background-color: #2c4762;
	padding: 20px 0px;
	margin-bottom: 30px;
}
#header h1 {
	font-size: 25px;
	width: 400px;
	float: left;
	color: #f3f3f3;
}
#header h1 a:hover {
	color: #d4d4d4;
}
#header h1 span {
	font-size: 15px;
	margin-top: 10px;
	width: 400px;
	float: left;
	font-weight: normal;
}
#header ul {
	width: 500px;
	float: right;
	text-align: right;
	margin-top: 10px;
}

#header ul li {
	display: inline;
}
#header ul li a {
	color: #f3f3f3;
	display: inline-block;
	padding: 10px 25px;
	background-color: #476584;
	border-radius: 18px;
	border: 1px solid #273e56;
	font-size: 14px;
}
#header ul li a:hover {
	color: #d4d4d4;
}
#content {
	width: 750px;
	float: right;
	border-left: 1px solid #e5e5e5;
	min-height: 800px;	
}
#sidebar {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}
#sidebar ul li {
	margin-bottom: 10px;
}
#sidebar ul li a {
	display: block;
	padding: 0px 40px 0px 10px;
	border: 1px solid #e5e5e5;
	border-right: none;
	border-radius: 25px 0px 0px 25px;
	height: 50px;
	line-height: 50px;
	color: #333;
	text-align: right;
	position: relative;
}
#sidebar ul li a:after {
	width: 0px;
	height: 0px;
	content: ' ';
	position: absolute;
	top: 19px;
	right: 10px;
	border-left: 6px solid #777;
	border-right: 10px solid transparent;
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
}
#sidebar ul {
	margin-top: 60px;
}
#sidebar ul li a:hover {
	border-color: #c4c4c4;
}
.excerpt {
	line-height: 30px;
}
.post, .category_detail {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 30px;
	margin-bottom: 30px;
	margin-left: 60px;
	color: #333;
	text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.post:last-child {
	border: none;	
}
.post_thumbnail {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 120px;
	border-radius: 5px;
}
.post h1 {
	margin-bottom: 30px;
	font-size: 25px;
}
.post-body p, .post-body h3, .post-body .highlighter-rouge, .post-body ul, .post-body h2 {
	padding-bottom: 25px;
	line-height: 30px;
}
.post-body h2 {
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-top: 25px;
border-bottom: 1px solid rgba(0,0,0,0.1);
	color: #1d1d1d;
}
.post-body ul li:before {
    content: "";
    line-height: 1em;
    width: .7em;
    height: .7em;
    background-color: #808080;
    float: left;
    margin: 0.5em .5em 0;
    border-radius: 50%;
}
.post p img {
	max-width: 90%;
	margin: 20px auto;
	display: block;
}
blockquote p {
    padding-bottom: 0px !important;
}
blockquote, q {
    quotes: none;
    background-color: #f1f1f1;
    padding: 15px 20px;
    margin-bottom: 25px;
	border: 1px solid #ececec;
    border-radius: 4px;
    border-left: 5px solid #d4d4d4;
}

img.emoji {
    display: inline !important;
    margin: 0px !important;
}
.post {
	line-height: 25px;
}
.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	max-width: 80%;
	margin: 0px auto;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.highlight {
	padding: 5px 20px;
	background-color: #ededed;
	overflow-x: auto;
}
code.highlighter-rouge {
	padding: 3px 0px !important;
	background-color: #ededed;
}
.download {
    background-color: #256F60;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #1d5a4e;
}
.download:hover {
    background-color: #125044;
	color: white;
}
h3.related_post_heading {
    padding-top: 15px;
    border-top: 1px solid #ebebeb;
}
.social-share {
	margin-top: 25px;
}
.pagination {
	margin-bottom: 30px;
	margin-left: 35px;
}
.pagination .prev-link{
	float: left;
}
.pagination .next-link{
	float: right;
}
.category_detail p {
	margin-top: 30px;
	margin-bottom: 30px;
	line-height: 25px;
}
#footer-outer {
	background-color: #F5F5F5;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px;
	margin-top: 30px;
}
#footer form input {
	padding: 10px;
	border: 1px solid #b9b9b9;
	width: 300px;
	border-radius: 5px;
	outline: none;
}
#footer p {
	float: left;
}
#footer ul {
	float: right;
}
#footer ul li {
	display: inline;
	padding: 0px 20px;
	color: black;
	border-right: 1px solid #c3c3c3;
}
#footer ul li:last-child {
	padding-right: 0px;
	border-right: none;
}
#footer ul li a {
	color: #525252;
	font-size: 15px;
}


/** responsive for facebook like box **/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
	width: 100% !important;
}

@media (max-width:1000px){
	.container {
		max-width: 90%;
	}
	#header-outer {
		margin-bottom: 10px;
	}
	#header h1, #header h1 span, #header ul {
		width: 90%;
		float: none;
		text-align: center;
		margin: 10px auto;
		display: block;
	}
	#header ul {
		display: none;
	}
	#sidebar, #content {
		float: none;
		width: 100%;
		border: none;
	}
	#sidebar ul {
		margin-top: 0px;
	}
	#sidebar ul li {
		display: inline-block;
		margin-bottom: 0px;
		height: 40px;
	}
	#sidebar ul li a {
		display: inline;
		padding: 6px 10px;
		border: 1px solid #e5e5e5;
		border-radius: 4px;
		text-align: center;
		font-size: 14px;
	}
	#sidebar ul li a:after {
		display: none;
	}
	#fb-follow-sidebar {
		display: none;
	}
	
	.post, .category_detail {
		padding: 0px;
		margin-left: 0px;
	}
	#footer p {
		float: none;
		text-align: center;
	}
	#footer ul {
		float: none;
		text-align: center;
		margin-top: 15px;
		margin-bottom: 20px;	
	}
}
@media (max-width:720px){
	h1 {
		font-size: 20px;
	}
}



/* Adjusted to give override background and text colour */
.language-javascript .highlight {
	padding: 15px 20px;
	border-radius: 5px;
	background-color: #49483E;
	color: #FFFFFF;
	font-family: monospace;
	font-size: 17px;
	line-height: 20px;
}

.gist pre {
	color: #515151;
}

.c                 { color: #75715e }
.err               { color: #960050; background-color: #1e0010 }
.k                 { color: #66d9ef }
.l                 { color: #ae81ff }
.n                 { color: #f8f8f2 }
.o                 { color: #f92672 }
.p                 { color: #f8f8f2 }
.cm                { color: #75715e }
.cp                { color: #75715e }
.c1                { color: #75715e }
.cs                { color: #75715e }
.ge                { font-style: italic }
.gs                { font-weight: bold }
.kc                { color: #66d9ef }
.kd                { color: #66d9ef }
.kn                { color: #f92672 }
.kp                { color: #66d9ef }
.kr                { color: #66d9ef }
.kt                { color: #66d9ef }
.ld                { color: #e6db74 }
.m                 { color: #ae81ff }
.s                 { color: #e6db74 }
.na                { color: #a6e22e }
.nb                { color: #f8f8f2 }
.nc                { color: #a6e22e }
.no                { color: #66d9ef }
.nd                { color: #a6e22e }
.ni                { color: #f8f8f2 }
.ne                { color: #a6e22e }
.nf                { color: #a6e22e }
.nl                { color: #f8f8f2 }
.nn                { color: #f8f8f2 }
.nx                { color: #a6e22e }
.py                { color: #f8f8f2 }
.nt                { color: #f92672 }
.nv                { color: #f8f8f2 }
.ow                { color: #f92672 }
.w                 { color: #f8f8f2 }
.mf                { color: #ae81ff }
.mh                { color: #ae81ff }
.mi                { color: #ae81ff }
.mo                { color: #ae81ff }
.sb                { color: #e6db74 }
.sc                { color: #e6db74 }
.sd                { color: #e6db74 }
.s2                { color: #e6db74 }
.se                { color: #ae81ff }
.sh                { color: #e6db74 }
.si                { color: #e6db74 }
.sx                { color: #e6db74 }
.sr                { color: #e6db74 }
.s1                { color: #e6db74 }
.ss                { color: #e6db74 }
.bp                { color: #f8f8f2 }
.vc                { color: #f8f8f2 }
.vg                { color: #f8f8f2 }
.vi                { color: #f8f8f2 }
.il                { color: #ae81ff }
