/***************/
/* RESET CSS
/***************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
strong {font-weight: bold;}
.clear {clear: both; }
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

html {
	font-size: 100%;
}

body {
	background: #fff;
	font-family: Helvetica, Arial, sans-serif;
	font-size: : 18px
	color: #333;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: #222;
text-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
h1 a {
    color: inherit;
}
h1 a:hover {
	text-shadow: 0px 0px 1px rgba(47, 47, 47, 0.6);
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

a {
  color: #4183C4;
  text-decoration: none;
	cursor: pointer;

}
a:hover, a:active {
	color: #4183C4;
}
.container {
	max-width: 960px;
	margin: 0px auto;
}
.button{
    display: inline-block;
    font-weight: 500;
    color: #1b1b1b;
    padding: 0 20px;
    border-radius: 18px;
    height: 36px;
    line-height: 36px;
    border: 1px solid #bfbfbf;
}
#header-outer {
	background-color: #F5F5F5;
	border-bottom: 1px solid #e5e5e5;
	padding: 20px 0px;
	margin-bottom: 30px;
}
#header h1 {
	font-size: 25px;
	width: 400px;
    float: left;
}
#header h1 span {
	font-size: 15px;
    margin-top: 10px;
    width: 400px;
    float: left;
    font-weight: normal;
}
#header ul {
	width: 500px;
    float: right;
    text-align: right;
    margin-top: 20px;
}

#header ul li {
	display: inline;
}
#header ul li a {
    color: #333;
    display: inline-block;
    padding: 7px 23px;
    background-color: white;
    border-radius: 18px;
    border: 1px solid #ebebeb;
    font-size: 14px;
}
#header ul li a:hover {
	color: #4183C4;
}
#content {
	width: 710px;
    float: right;
    border-left: 1px solid #e5e5e5;
min-height: 500px;	
}
#sidebar {
	width: 250px;
    float: left;
    margin-bottom: 20px;
}
#sidebar ul li {
	margin-bottom: 10px;
}
#sidebar ul li a {
    display: block;
    padding: 0px 40px 0px 10px;
    border: 1px solid #e5e5e5;
    border-right: none;
    border-radius: 25px 0px 0px 25px;
    height: 50px;
    line-height: 50px;
    color: #333;
    text-align: right;
    position: relative;
}
#sidebar ul li a:after {
    width: 0px;
    height: 0px;
    content: ' ';
    position: absolute;
    top: 19px;
    right: 10px;
    border-left: 6px solid #777;
    border-right: 10px solid transparent;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
}
#sidebar ul {
	margin-top: 60px;
}
#sidebar ul li a:hover {
	border-color: #c4c4c4;
}
.post, .category_detail {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    margin-left: 35px;
    color: #333;
    text-shadow: 0px 0px 0px rgba(0,0,0,0.5);
}
.post_thumbnail {
	float: left;
	margin-right: 30px;
	margin-bottom: 30px;
	width: 120px
}
.post h1 {
	margin-bottom: 30px;
	font-size: 25px;
}
.post-body p, .post-body h3, .post-body .highlighter-rouge {
    padding-bottom: 25px;
}
.post p img {
	max-width: 90%;
	margin: 20px auto;
	display: block;
}
.post {
	line-height: 25px;
}
pre.highlight {
	font-family: monospace;
	background-color: #f7f7f7;
	padding: 1em;
	overflow-x: scroll;
}
.youtube {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	max-width: 80%;
    margin: 0px auto;
}
.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.social-share {
	margin-top: 25px;
}
.pagination {
    margin-bottom: 30px;
    margin-left: 35px;
}
.pagination a:nth-child(2){
	float: right;
}
.category_detail p {
    margin-top: 30px;
    margin-bottom: 30px;
	line-height: 25px;
}
#footer-outer {
	background-color: #F5F5F5;
	border-top: 1px solid #e5e5e5;
	padding: 20px 0px;
	margin-top: 30px;
}
#footer form input {
	padding: 10px;
    border: 1px solid #b9b9b9;
    width: 300px;
    border-radius: 5px;
    outline: none;
}

/** responsive for facebook like box **/
.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    width: 100% !important;
}

@media (max-width:960px){
	.container {
		max-width: 90%;
	}
	#header-outer {
		margin-bottom: 10px;
	}
	#header h1, #header h1 span, #header ul {
		width: 90%;
		float: none;
		text-align: center;
		margin: 10px auto;
		display: block;
	}
	#header ul {
		margin-top: 20px;
	}
	#sidebar, #content {
		float: none;
		width: 100%;
		border: none;
	}
	#sidebar ul {
		margin-top: 0px;
	}
	#sidebar ul li {
		display: inline-block;
		margin-bottom: 0px;
	}
	#sidebar ul li a {
		display: inline;
		padding: 5px 7px;
    	border: 1px solid #e5e5e5;
    	border-radius: 4px;
    	text-align: center;
	}
	#sidebar ul li a:after {
		display: none;
	}
	
	.post, .category_detail {
		padding: 0px;
		margin-left: 0px;
	}
}
@media (max-width:720px){
	#sidebar ul {
		display: none;
	}
	h1 {
    	font-size: 20px;
    }
}
