<!DOCTYPE HTML>
<html>
<head>
	<title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
	<meta content='index, follow' name='robots'/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <meta content='Bùi văn nguyện, bui van nguyen, blog của Bùi văn Nguyện, tôi dám nghĩ khác, cười nhạt' name='keywords'/>
    <meta content='Website chính thức của Bùi văn Nguyện, tôi dám nghĩ khác. Tôi chỉ là một người đam mê máy tính và thế giới web, tôi hâm mộ Google, facebook cũng như mọi website mang lại lợi ích và kết nối mọi người.' name='description'/>    
    <meta http-equiv="Cache-control" content="public">
    <link rel='stylesheet' type='text/css' href='{{ site.baseurl }}/style.css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
</head>
<body>
<div id="header-outer">
	<div id="header" class="container">
		<h1><a href="{{ site.baseurl }}">{{ site.name }}</a><span>{{ site.description }}</span></h1>
		<ul>
			<li><a href="{{ site.baseurl }}">Trang chủ</a></li>
			<li><a href="#">Về blog</a></li>
			<li><a href="#">Điều khoản</a></li>
			<li><a href="#">Fanpage</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div id="main" class="container">