<!DOCTYPE HTML>
<html>
<head>
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<meta content='index, follow' name='robots'/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html | strip_newlines }}" />
    <meta property="og:description" content="{{ page.excerpt| strip_html | strip_newlines }}" />
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.home_description }}" />
    {% endif %}
    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}" />
    {% endif %}
    {% if page.url %}
    <meta property="og:url" content="{{ site.site_url }}{{ page.url }}" />
    {% endif %}
  	{% if page.thumbnail %}
    <meta property='og:image' content='{{ site.site_url }}/images/{{ page.thumbnail }}' />
    <meta property="og:image:type" content="image/jpeg" /> 
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    {% endif %}
    <link rel='stylesheet' type='text/css' href='{{ site.site_url }}/style.css'>
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}feed.xml" />
</head>
<body>
<div id="header-outer">
	<div id="header" class="container">
		<h1><a href="{{ site.site_url }}">{{ site.name }}</a><span>{{ site.description }}</span></h1>
		<ul>
			<li><a href="{{ site.site_url }}">Trang chủ</a></li>
			<li><a target="_blank" href="https://www.facebook.com/laptrinhcuocsongdotcom/">Fanpage</a></li>
			<li><a target="_blank" href="https://www.youtube.com/channel/UC5CIt5W4kq4ie0KJEdg2ztg">Youtube</a></li>
		</ul>
		<div class="clear"></div>
	</div>
</div>
<div id="main" class="container">
