<div id="sidebar">
	<ul>
		<li><a href="{{ site.site_url }}">Trang chủ</a></li>
		<li><a href="{{ site.site_url }}/chuyen-nghe-nghiep.html">Chuyện nghề nghiệp</a></li>
		<li><a href="{{ site.site_url }}/chuyen-lap-trinh.html">Chuyện lập trình</a></li>
		<li><a href="{{ site.site_url }}/linux-ubuntu.html">Linux - ubuntu</a></li>
		<li><a href="{{ site.site_url }}/chuyen-ben-le.html">Chuyện bên lề</a></li>
		<li><a href="{{ site.site_url }}/dang-ky-nhan-bai-viet.html">Đăng ký nhận bài viết mới</a></li>
	</ul>
	<div>
		<h4>Theo dõi chúng tôi trên facebook</h4>
	<div class="fb-follow" data-href="https://www.facebook.com/zuck" data-layout="button" data-size="large" data-show-faces="true"></div>
	</div>
</div>
