---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="name">{{ page.title }}</h1>
  <div class="post-body" itemprop="articleBody">
    {{ content }}
    {% if page.related_posts %}
    <h3 class="related_post_heading">Bài viết có thể bạn quan tâm</h3>
    <ul class="related_posts">
      {% for related_post in page.related_posts %}
      <li><a href="{{ related_post.link }}" title="{{ related_post.title }}">{{ related_post.title }}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="facebook-like">
      <div id="fb-root"></div>
    </div>
  </div>
  <div class="fb-like" data-href="{{ site.site_url }}{{ page.url }}" data-layout="standard" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
  <div class="fb-comments" data-href="{{ site.site_url }}{{ page.url }}" data-numposts="10"></div>
</article>
